.attendanceCard {
    width: 350px;
    height: 110px;
    display: grid;
    place-items: left;
    box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75) !important;
    background-color: #fbfbfb;
}

.attendanceCard__info > img {
    width: 15%;
    border-radius: 50%;
    object-fit: contain;
}

.attendanceCard__name > h2 {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 500;
}
.attendanceCard__name > p {
    margin-top: 0 !important;
}

.attendanceCard__info {
    display: flex;
    align-items: center;
}

.attendanceCard__name {
    margin-left: 15px;
    flex: 1;
}

.attendanceCard__data {
    margin-top: 10px;
    padding-top: 3px;
    height: 20px;
    border-top: 1px solid #dfdfdf;
}